<h1 class="port-head">Portfolio</h1>
<div class="portfolio">
  <figure>
    <img src="img/photography icon.jpg" alt="description of image" />
    <figcaption>Photography</figcaption>
  </figure>
  <figure>
    <img src="img/post card icon.JPG" alt="description of image" />
    <figcaption>Post Card</figcaption>
  </figure>
  <figure>
    <img src="img/videography icon.JPG" alt="description of image" />
    <figcaption>Videography</figcaption>
  </figure>
  <figure>
    <img src="img/poster icon.JPG" alt="description of image" />
    <figcaption>Poster</figcaption>
  </figure>
  <figure>
    <img src="img/branding icon.JPG" alt="description of image" />
    <figcaption>Branding</figcaption>
  </figure>
  <figure>
    <img src="img/prototype icon.JPG" alt="description of image" />
    <figcaption>Prototype</figcaption>
  </figure>
</div>
